<div class="content" fxLayout="row" fxLayoutAlign="center">
  <mat-card elevation="5" fxFlex *ngIf="!submitted">
    <mat-card-subtitle>
      <h2>Welcome to</h2>
    </mat-card-subtitle>
    <mat-card-title>
      <h3>CRYPTO TRACKER</h3>
    </mat-card-title>
    <mat-card-content>
      <br>
      <p><i *ngIf="!showLoading">To start the process, please pick a product:</i></p>
      <br>
      <form *ngIf="!showLoading" [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-input-container>
          <mat-select placeholder="PRODUCT" required [formControl]="toppings" disableRipple>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-input-container>
      </form>
      <div *ngIf="!showLoading">
        <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Submit</button>
      </div>
      <mat-spinner *ngIf="showLoading" mode="indeterminate"></mat-spinner>
      <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card elevation="5" fxFlex *ngIf="submitted">
    <mat-card-subtitle>
      <h2>{{product}}</h2>
    </mat-card-subtitle>
    <mat-card-title><b>
        <h1 [class]="pprice.class.bfx">BFX</h1>
      </b></mat-card-title>
    <div>
      <h2 [class]="pprice.class.bfx">{{BFX}}</h2>
    </div>
  </mat-card>
  <hr *ngIf="submitted">
  <mat-card elevation="5" fxFlex *ngIf="submitted">
    <mat-card-subtitle>
      <h2>{{product}}</h2>
    </mat-card-subtitle>
    <mat-card-title  > <b>
        <h1 [class]="pprice.class.bnb">BNB</h1>
      </b></mat-card-title>
    <div>
      <h2 [class]="pprice.class.bnb">{{BNB}}</h2>
    </div>
  </mat-card>
  <hr *ngIf="submitted">
  <mat-card elevation="5" fxFlex *ngIf="submitted">
    <mat-card-subtitle>
      <h2>{{product}}</h2>
    </mat-card-subtitle>
    <mat-card-title><b>
        <h1 [class]="pprice.class.btx">BTX</h1>
      </b></mat-card-title>
    <div>
      <h2 [class]="pprice.class.btx">{{BTX}}</h2>
    </div>
  </mat-card>
</div>